
@{
    ViewData["Title"] = "About";
}

<div class="CSSslider">
    <div class="CSSslider-slider-container">
        <div class="CSSslider-carousel">
            <input class="CSSslider-carousel_radio" type="radio" id="CSSslider-carousel-1" name="CSSslider-carousel[]" checked>
            <input class="CSSslider-carousel_radio" type="radio" id="CSSslider-carousel-2" name="CSSslider-carousel[]">
            <ul class="CSSslider-carousel__items">
                <li class="CSSslider-carousel__item">
                    <div class="CSSslider-slider-One">
                        <h5 class="CSSslider-slider-title">Ilk öncə inam! ​</h5>
                        <h5 class="CSSslider-slider-subtitle">Hər şey ilk öncə inanmaqla başlayır.İnanmaq bacarmağın yarısıdır.Zehinlə inamağa başladıqda hər şey daha da asanlaşır.<br></h5>
                        <div class="CSSslider-slider-text">
                            <div class="CSSslider-slider-item">Bu tək rituallar üçün deyil bütün həyatımıız üçün keçərlidir.</div>
                        </div>
                    </div>
                    
                </li>
                <li class="CSSslider-carousel__item">
                    <div class="CSSslider-slider-Two">
                        <h4 class="CSSslider-slider-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquam, hic nesciunt dolorem deleniti magni atque nisi a voluptatum sint excepturi voluptates ipsum obcaecati nam. Aliquam blanditiis recusandae error officia? ​</h4>
                        <div class="CSSslider-slider-text">
                            <div class="CSSslider-slider-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius obcaecati neque velit provident, at recusandae doloribus! Voluptatem quae harum repellendus, maiores provident suscipit aliquam deserunt voluptatum excepturi molestias, doloribus numquam!</div>
                        </div>
                    </div>
                    
                </li>
            </ul>
            <div class="CSSslider-carousel__prev">
                <label for="CSSslider-carousel-1"></label>
                <label for="CSSslider-carousel-2"></label>
                <label for="CSSslider-carousel-3"></label>
            </div>
            <div class="CSSslider-carousel__next">
                <label for="CSSslider-carousel-1"></label>
                <label for="CSSslider-carousel-2"></label>
                <label for="CSSslider-carousel-3"></label>
            </div>
            <div class="CSSslider-carousel__nav">
                <label for="CSSslider-carousel-1"></label>
                <label for="CSSslider-carousel-2"></label>
                <label for="CSSslider-carousel-3"></label>
            </div>
        </div>
    </div>

    <!-- <div class="container">
           <div class="row">
               <div class="two-about">
                   <div class="col-lg-6">
               <img  src="5de1fe0b3719a184cadf646d_violet-thumb (1).jpg" alt="">
                   </div>
                   <div class="col-lg-6">
                       <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, aut voluptates? Voluptatibus, voluptatum necessitatibus sapiente nihil provident incidunt veniam numquam aspernatur, sequi, dolore voluptatem minus similique magni nemo consectetur ut!</h4>
                   </div>
               </div>

           </div>
       </div>       -->
</div>


<div class="section">
    <ul class="case-study-wrapper">
        <li class="case-study-name">
            <a href="#" class="hover-target">Bədənimizdəki güclər</a>
        </li>
        <li class="case-study-name">
            <a href="#" class="hover-target">Dolunaylar zamanı olan rituallar</a>
        </li>
        <li class="case-study-name">
            <a href="#" class="hover-target">Su ilə edilən rituallar</a>
        </li>
    </ul>

</div>

<!-- Page cursor
================================================== -->

<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>

<!-- Link to page
   ================================================== -->

<a href="https://themeforest.net/user/ig_design/portfolio" class="link-to-portfolio hover-target" target=”_blank”></a>




